<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <a class="navbar-brand" href="/urls">TinyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/urls">My URLs</a>
                <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
            </div>
        </div>
        <% if (!username) {%>
            <form action="/login" method="POST">
                <div class="login">
                    <input type="text" name="username" placeholder="Please input username" style="border-radius: 5%; border:transparent;background-color: rgba(255, 255, 255, 0.753);">
                    <button style="border: none;background-color: transparent; color:  rgba(255, 255, 255, 0.5); font-weight: 700; cursor: pointer;">Login</button>
                </div>

            </form>
            <%} else {%>
                <div class="login">
                    <form action="/logout" method="post">
                        <span style="color:  rgba(255, 255, 255, 0.5);">Loged In As: <%= username %></span>
                        <button style="border: none;background-color: transparent; color:  rgba(255, 255, 255, 0.5); font-weight: 700; cursor: pointer;">Logout</button>
                    </form>
                </div>
                <%}%>

    </nav>
</header>