<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <a class="navbar-brand" href="/urls">TinyApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <%if (user){ %>
                    <a class="nav-item nav-link" href="/urls">My URLs</a>
                    <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
                    <%}%>
            </div>
        </div>
        <% if (!user) {%>
            <a class="nav-item nav-link" href="/register" style="color: rgb(255, 255, 255);">Register</a>
            <a class="nav-item nav-link" href="/login" style="color: rgb(255, 255, 255);">Login</a>
            <%} else {%>
                <div class="login">
                    <form action="/logout" method="post" style="margin-bottom: 0;">
                        <span style="color:  rgba(255, 255, 255, 0.5); margin-right: 1rem;">Logged In As: <%= user.email %></span>
                        <button id='btn_Logout' style="border: 1px solid rgba(255, 255, 255, 0.5);background-color: transparent; color:  rgba(255, 255, 255, 0.5); font-weight: 400; cursor: pointer;">Logout</button>
                    </form>
                </div>
                <%}%>
    </nav>
</header>