<div class="login" style="width: 40rem; margin: 0 auto; text-align: center;">
    <form action="/login" method="POST">
        <table style="border-spacing: 0 1rem; border-collapse: separate; margin: 0 auto;">
            <tbody style="margin: 1rem 0;">
                <tr style="text-align: center; margin-bottom: 1.5rem;">
                    <td>
                        <label class="label" for="email" style="margin-bottom: 0; text-align: right; padding-left: 42%;">Email: </label>
                    </td>
                    <td>
                        <input id="email" type="email" name="email" placeholder="example@tinyapp.com" style="width: 16rem; margin-left: 0.5rem;">
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td><label class="label" for="password" style="margin-bottom: 0;">Password: </label></td>
                    <td><input id="password" type="password" name="password" style="width: 16rem; margin-left: 0.5rem;"></td>
                </tr>
            </tbody>
        </table>
        <button id="logbtn" style="width: 8rem; margin-top: 0.5rem; background: transparent; border: 1px solid #686666af; border-radius: 0.3rem; color: rgba(8, 8, 8, 0.562); text-shadow: 1px 1px 5px rgba(248, 246, 246, 0.712);">Login</button>
    </form>
</div>